* {
    margin: 0;
    color: rgb(73, 73, 73);
}

.App-header {
    height: 10%;
    padding: 2%;
    background-color: #37f3e4;
    color: rgb(233, 233, 233);
}

.App-header a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}
