#form-container {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    margin: 5% auto;
    width: 45vw;
    border: $popmint 2px solid;
    border-radius: 4px;
    padding: 4%;
    align-content: center;

    form {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        input {
            padding: 15px;
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
            box-shadow: none;
            border: 2px solid $pink;
            color: $grey800;
            display: inline-block;
            border-radius: 3%;
            align-content: center;
        }
        textarea {
            padding: 15px;
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
            box-shadow: none;
            border: 2px solid $pink;
            color: $grey800;
            display: inline-block;
            border-radius: 3%;
            align-content: center;
        }
    }
    h2 {
        text-align: center;
    }

    .sl-btn {
        margin: 2% auto;
        border: $popmint solid 2px;
        border-radius: 4px;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: $grey800;
        background-color: rgb(247, 247, 247);
        text-align: center;
        cursor: pointer;
        width: 60%;
        font-size: 16px;
    }

    .sl-btn:hover,
    a:hover {
        background-color: #37f3e4;
        color: white;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    margin: 2% auto;
    padding: 8px;
    border: $popmint solid 2px;
    border-radius: 4px;
    font-size: 1.25em;
    color: $grey800;
    background-color: rgb(247, 247, 247);
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 60%;
    font-size: 16px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #37f3e4;
    color: white;
    font-weight: 400;
}
.inputfile:focus + label {
    outline: $popmint solid 2px;
    outline: -webkit-focus-ring-color auto 3px;
}
.inputfile + label * {
    pointer-events: none;
}
.row {
    margin: auto 5%;
    display: flex;
}

.column1 {
    flex: 40%;
}

.column2 {
    flex: 60%;
}
