.product-card {
    -webkit-flex-flow: row wrap;
    margin: auto;
    flex-wrap: wrap;
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.one-card {
    width: 33%;
    padding: 2%;
    flex-direction: column;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

/* Medium screens */
@media all and (max-width: 800px) {
    .one-card {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        width: 100%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .product-card {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        width: 100%;
    }
}
