.card-product-container {
    -webkit-flex-flow: row wrap;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    flex-wrap: wrap;
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.one-card {
    width: 33%;
    padding: 3%;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}
#description {
    padding-bottom: 5%;
}
/* Medium screens */
@media all and (max-width: 768px) {
    .one-card {
        width: 50%;
        padding: 3%;
    }
}

/* Small screens */
@media all and (max-width: 426px) {
    .card-product-container {
        flex-direction: row;
    }
    .one-card {
        width: 100%;
        padding: 3%;
    }
}
