.navbar-header {
    background-color: $popmint;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

#logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

#nav-links {
    text-decoration: none;
    color: $grey800;
    padding: 0 5px;
}

.searchbar {
    display: inline;
}
