.App-header {
    background-color: $popmint;
}

#logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

#nav-links {
    text-decoration: none;
    color: $grey800;
    padding: 0 5px;
}
